<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- link axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Vue email list</title>
</head>
<body>
    
<div id="app">
    <h3>Lista e-mail:</h3>
    <!-- solamente quando la lunghezza array è 10 -->
    <div v-if="mail.length == 10"> 
        <ul>
            <!-- ciclo ogni mail dentro un li -->
            <li v-for="singleMail in mail">
                {{ singleMail }};
            </li>
        </ul>

        <div>-------------------------------</div>

        <h2> Prova vostra api array numeri</h2>
        <p>...e anche come metterne più di una nello stesso file</p>
        <div> {{num}} </div>
    </div>
</div>










    <script src="js/script.js"></script>
    
</body>
</html>